<h1>Welcome to the main Users Page!</h1>

<form action="/users/logout" method="post">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <input="submit" class="btn btn-default" value="Logout">
</form>
